<!DOCTYPE html>
<html lang="id" ng-app="makmurSehat">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Menu Makanan</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet">
</head>
<body ng-controller="menuController">
    <div class="container mt-5">
        <h2>Daftar Menu Makanan</h2>
        <a href="addmenu.html" class="btn btn-success mb-3">Tambah Menu</a>
        <div class="row">
            <div class="col-md-4" ng-repeat="menu in menus">
                <div class="card mb-3">
                    <img class="card-img-top" ng-src="{{menu.image}}" alt="Gambar Menu">
                    <div class="card-body">
                        <h5 class="card-title">{{menu.name}}</h5>
                        <p class="card-text">{{menu.description}}</p>
                        <p class="card-text">Harga: Rp {{menu.price}}</p>
                        <a href="/updatemenu/{{menu.id}}" class="btn btn-warning">Update</a>
                        <button ng-click="deleteMenu(menu.id)" class="btn btn-danger">Hapus</button>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.8.2/angular.min.js"></script>
    <script src="/controller/menuController.js"></script>
</body>
</html>
