<!-- template buat navbar -->
<nav class="navbar navbar-expand-lg navbar-light">
    <div class="container-fluid">
        <a class="navbar-brand text-white" href="#">MakMur Sehat</a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
            <div class="navbar-nav mx-auto">
                <a class="nav-link" ng-class="{'active': isActive('home')}" ng-click="setActive('home')" href="/index.html">Home</a>
                <a class="nav-link" ng-class="{'active': isActive('menu')}" ng-click="setActive('menu')" href="/views/menumakanansehat.html">Menu</a>
                <a class="nav-link" ng-class="{'active': isActive('resep')}" ng-click="setActive('resep')" href="/views/resep.html">Resep Makanan</a>
                <a class="nav-link" ng-class="{'active': isActive('tips')}" ng-click="setActive('tips')" href="/views/tips.html">Tips Hidup Sehat</a>
                <a class="nav-link" ng-class="{'active': isActive('menu')}" ng-click="setActive('menu')" href="/views/menumakanan.html">Menu Makanan</a>
                <a class="nav-link" ng-class="{'active': isActive('about')}" ng-click="setActive('about')" href="/views/about.html">About</a>
                <a class="nav-link" ng-class="{'active': isActive('signin')}" ng-click="setActive('signin')" href="/views/signin.html">Sign In</a>
                <a class="nav-link" ng-class="{'active': isActive('profile')}" ng-click="setActive('profile')" href="/views/profile.html">Profile</a>
            </div>

            <div class="navbar-nav ms-auto">
                <a href="https://x.com/" class="nav-link"><i class="fab fa-twitter"></i></a>
                <a href="https://www.facebook.com/" class="nav-link"><i class="fab fa-facebook"></i></a>
                <a href="https://www.instagram.com/mvw.14/" class="nav-link"><i class="fab fa-instagram"></i></a>
                <a href="https://id.linkedin.com/" class="nav-link"><i class="fab fa-linkedin"></i></a>
            </div>
        </div>
    </div>
</nav>
